.media{
    display: flex;
    flex-direction: column;
    width: 280px;
    padding: 6px;
    background-color: white;
    color: black;
    border-radius: 4px;
    margin: 18px;
    transition: all 0.5s ease-out;
    letter-spacing: 0.5px;
    cursor: pointer;
}
.details{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.rating{
    font-size: 50px;
}
.poster{
    border-radius: 4px;
    height: 380px;
    object-fit: cover;
    margin-bottom: 5px;
}
.title{
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 4px 0px;
}

.subtitle{
    font-size: 18px;
    width: 100%;
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    padding: 4px 0px;
    margin-bottom: 5px;
}

@media only screen and (max-width: 550px){
    .media{
        width: 78%;
        /* width: 270px; */
        font-size: 15px;
        font-weight: bold;
    }
    .title{
        font-size: 18px;
        font-weight: bold;
    }
    .poster{
        height: 380px;
    }
}
