.Searchbar{
    width:80%;
    margin:auto;
    display:flex;
    justify-content:center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.btn{
    margin: auto;
    display: flex;
    width: 50%;
    height: 50px;
    display: flex;
    justify-content:space-evenly;
}
.b{
    width: 50%;
    background-color: orange;
    font-weight: bold;
    font-family: 'KoHo', sans-serif;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
}
@media only screen and (max-width: 650px) {
    .Searchbar{
        width: 100%;
    }
    .btn{
        width: 100%;
    }
}